:root {
  --elevation:  0 2px 2px 2px rgba(0,0,0,.05);
  --field-border: 1px solid #bbb;
  --field-radius: 28px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: url('assets/background.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

form {
  border-radius: var(--field-radius);
  background-color: #fff;
  padding: 16px 24px;
  margin: 72px auto 0;
  max-width: 800px;
  display: flex;
  gap: 16px;
  box-shadow: var(--elevation);
}

#logo {
  display: block;
  margin: 0 auto;
  padding-top: 100px;
  width: 196px;
  object-fit: contain;
}

#group input {
  padding-left: 32px;
  width: 100%;
}

form select {
  cursor: pointer;
  width: 126px;
}

form option {
  display: block;
  padding: 10px;
}

form button {
  cursor: pointer;
  background-color: purple;
  border: none;
  color: #fff;
  font-weight: 700;
  width: 100px;
}

.field {
  border: var(--field-border);
  border-radius: var(--field-radius);
  outline: none;
  padding: 8px 16px;
  font-size: 16px;
  box-shadow: var(--elevation);
  height: 37px;
}

.error {
  border-color: #f00;
}

.error-message {
  font-size: 14px;
  font-weight: 700;
  color: #f00;
  margin-top: 8px;
}

#results {
  border-radius: var(--field-radius); 
  background-color: #fff;
  padding: 16px 24px;
  margin: 40px auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  max-height: 50%;
  overflow: auto;
  box-shadow: var(--elevation);
}

#group {
  position: relative;
  width: 100%;
}

#group img {
  position: absolute;
  left: 12px;
  top: 12px;
  width: 16px;
  height: 16px;
  opacity: 0.7;
}

.file {
  align-items: center;
  display: flex;
  gap: 16px;
  text-decoration: none;
  color: #888;
}

.file img {
  opacity: 0.5;
}

.file:hover {
  color: #000;
}

.file:hover img {
  opacity: 1;
}

.file+.file {
  border-top: 1px solid red;
}

.file img {
  height: 32px;
  width: 32px;
}


/* Loader */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #000 #000 transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent purple purple;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
